<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Basics</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div id="vueApp" v-cloak>
      <p>{{message}} {{fullName()}} {{ calc}} {{ 3 * 3}}</p>
      <hr />

      <label for="firstName">First Name</label>
      <input type="text" name="firstName" id="firstName" v-model="firstName" />

      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" v-model="lastName" />
    </div>

    <!-- <div id="vueApp2">{{message2}} {{lastName}} {{ calc2}} {{ 9 * 9}}</div> -->

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
